---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "blog";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout title={pageTitle}>
  <article class="prose dark:prose-invert min-w-full">
    <h1>all blog posts</h1>

    <p>
      view all blog posts here
    </p>
    
    <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
      {
        allPosts
          .map((post) => (
          <a class="px-4 border min-h-12 hover:bg-purple-100" href={post.url}>
              <p>{post.frontmatter.title}</p>
              <p>{post.frontmatter.pubDate}</p>
            </a>
          ))
      }
    </div>
  </article>
</BaseLayout>
