---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Astro Learning Blog";
---

<BaseLayout>
  <article class="prose dark:prose-invert">
    <h1>{pageTitle}</h1>
    <h2>... and my crappy blog posts!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and its the first one I build myself!(This is a lie.
      The tutorial told me to lie *gasp*)
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
  </article>
</BaseLayout>
