---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

const allPosts = await Astro.glob("../pages/posts/*.md"); // TODO: Update this to MDX later?
---

<BaseLayout title="home">
  <article class="prose dark:prose-invert min-w-full">
    <h1>hello there!</h1>
    <p>I'm DJ. A random software engineer in the wild</p>
    <p>
      This site is where I reflect on what im currently learning... or doing.
    </p>

    <h2>recent posts:</h2>
    <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
      {
        allPosts
          .reverse()
          .slice(-4)
          .map((post) => (
            <Card
              title={post.frontmatter.title}
              url={post.url!}
              pubDate={post.frontmatter.pubDate}
            />
          ))
      }
    </div>
  </article>
</BaseLayout>
