---
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md"); // TODO: Update this to MDX later?

const pageTitle = "Home";
---

<BaseLayout>
  <article class="prose dark:prose-invert">
    <h1>hello there!</h1>
    <p>I'm DJ. A random software engineer in the wild</p>
    <p>
      This site is where I reflect on what im currently learning... or doing.
    </p>

    <h2>recent posts:</h2>
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
      {
        allPosts
          .reverse()
          .slice(-4)
          .map((post) => (
            <a class="px-4 border min-h-12 hover:bg-purple-100" href={post.url}>
              <p>{post.frontmatter.title}</p>
              <p>{post.frontmatter.pubDate}</p>
            </a>
          ))
      }
    </div>
  </article>
</BaseLayout>
