---
import Social from "./Social.astro";
import githubLogo from "../icons/github.svg?raw";
---

<footer
  class="w-full bg-white dark:bg-slate-800 flex flex-row justify-between py-2 mt-4 border-t-2 border-t-slate-200"
>
  <div class="flex flex-row">
    <p class="text-slate-400 text-sm dark:text-slate-600">DJ, 2024</p>
  </div>
  <div class="flex">
    <Social url="https://github.com/jushoo" icon={githubLogo} />
  </div>
</footer>
