---
import Navigation from "./Navigation.astro";
---

<header class="mb-4 flex flex-row lowercase">
  <nav class="flex w-full flex-row justify-between">
    <a
      href="/"
      class="text-xl font-extrabold underline-offset-8 hover:text-purple-800 hover:underline"
      >DJ's Blog</a
    >
    <Navigation />
  </nav>
</header>
