---
import Navigation from "./Navigation.astro";
---

<header class="mb-4 flex flex-row lowercase">
  <nav class="flex w-full flex-row justify-between items-center">
    <a
      href="/"
      class="text-xl font-extrabold underline-offset-8 hover:bg-purple-100 hover:underline dark:hover:bg-purple-700"
      >DJ's Blog</a
    >
    <Navigation />
  </nav>
</header>
