---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <article class="prose dark:prose-invert">
    <a href="/blog" class="mb-4 text-xl">back</a>
    <slot />
  </article>
</BaseLayout>
